{
  "log": {
    "_recordingName": "checkmarx_recordings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "27b5bf2a833476f052f43716ddc80c63",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://cxprivatecloud.checkmarx.net/cxrestapi/auth/identity/connect/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1763,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 593,
      },
      {
        "_id": "70cdf17b2d38557a04cec70897b5c9b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cxprivatecloud.checkmarx.net/cxrestapi/auth/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 91,
            "text": "[{\"id\":109,\"name\":\"JupiterOne\",\"fullName\":\"/CxServer/SP/Partners/JupiterOne\",\"parentId\":0}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "api-supported-versions",
              "value": "1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 405,
      },
      {
        "_id": "a621494bdf7891e58965221519d2a757",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cxprivatecloud.checkmarx.net/cxrestapi/projects"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2066,
            "text": "[\r\n  {\r\n    \"id\": 328,\r\n    \"teamId\": 109,\r\n    \"name\": \"test-project\",\r\n    \"isPublic\": true,\r\n    \"customFields\": [],\r\n    \"links\": [\r\n      {\r\n        \"rel\": \"self\",\r\n        \"uri\": \"/projects/328\"\r\n      },\r\n      {\r\n        \"rel\": \"teams\",\r\n        \"uri\": \"/auth/teams/\"\r\n      },\r\n      {\r\n        \"rel\": \"latestscan\",\r\n        \"uri\": \"/sast/scans?projectId=328&last=1\"\r\n      },\r\n      {\r\n        \"rel\": \"allscans\",\r\n        \"uri\": \"/sast/scans?projectId=328\"\r\n      },\r\n      {\r\n        \"rel\": \"scansettings\",\r\n        \"uri\": \"/sast/scanSettings/328\"\r\n      },\r\n      {\r\n        \"type\": \"local\",\r\n        \"rel\": \"source\",\r\n        \"uri\": null\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"id\": 352,\r\n    \"teamId\": 109,\r\n    \"name\": \"another-project\",\r\n    \"isPublic\": true,\r\n    \"customFields\": [],\r\n    \"links\": [\r\n      {\r\n        \"rel\": \"self\",\r\n        \"uri\": \"/projects/352\"\r\n      },\r\n      {\r\n        \"rel\": \"teams\",\r\n        \"uri\": \"/auth/teams/\"\r\n      },\r\n      {\r\n        \"rel\": \"latestscan\",\r\n      [...]
