{
  "log": {
    "_recordingName": "checkmarx_recordings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4fdd71f9f12fad5692b2624e3878c6b2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=UTF-8",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://partners9x.checkmarx.net/cxrestapi/auth/identity/connect/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1975,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":3600,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2022-05-26T17:59:56.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 198,
      },
      {
        "_id": "1478002ff40b5295d26ad68d54f76a78",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://partners9x.checkmarx.net/cxrestapi/auth/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 124,
            "text": "[{\"id\":20,\"name\":\"jupiterone\",\"fullName\":\"/CxServer/jupiterone\",\"parentId\":0,\"creationDate\":\"2022-05-05T15:52:19.0603401Z\"}]"
          },
            {
              "expires": "2022-05-26T17:59:56.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "api-supported-versions",
              "value": "1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 47,
      },
      {
        "_id": "18f09b4e58394d85cafab983a7f5b9bb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://partners9x.checkmarx.net/cxrestapi/projects"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4570,
            "text": "[\r\n  {\r\n    \"id\": 456,\r\n    \"teamId\": 20,\r\n    \"name\": \"Project A\",\r\n    \"isPublic\": true,\r\n    \"sourceSettingsLink\": {\r\n      \"type\": \"git\",\r\n      \"rel\": \"source\",\r\n      \"uri\": \"/projects/456/sourceCode/remoteSettings/git\"\r\n    },\r\n    \"link\": {\r\n      \"rel\": \"self\",\r\n      \"uri\": \"/projects/456\"\r\n    }\r\n  },\r\n  {\r\n    \"id\": 466,\r\n    \"teamId\": 20,\r\n    \"name\": \"NodeGoat\",\r\n    \"isPublic\": true,\r\n    \"sourceSettingsLink\": {\r\n      \"type\": \"git\",\r\n      \"rel\": \"source\",\r\n      \"uri\": \"/projects/466/sourceCode/remoteSettings/git\"\r\n    },\r\n    \"link\": {\r\n      \"rel\": \"self\",\r\n      \"uri\": \"/projects/466\"\r\n    }\r\n  },\r\n  {\r\n    \"id\": 467,\r\n    \"teamI[...]
